.Batter-Up {
    border: 1px solid black;
    height: 790px;
    background: #3B5573;
}

.header h1 {
    font-size: 80px;
    font-family: 'Notable', sans-serif;
    color: white;
    text-shadow: 1px 1px black;

}

.display {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    font-family: 'Alfa Slab One', cursive;
    color: white;
    text-shadow: 1px 1px black;
}

.display h1 {
    cursor: pointer;
}

.dashBoard {
    width: 550px;
    height: 100px;
    margin: auto;
    padding-top: 50px;
}

.Batter-Up button {
    height: 50px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
}

.status {
    width: 550px;
    margin: auto;
}

.hit-section {
    display: flex;
}
.out-section {
    display: flex;
}

.result  h1 {
   font-size: 100px;
   border: 1px solid white;
   font-family: 'Luckiest Guy', cursive;
   color: white;
   text-shadow: 1px 1px black;
   padding-top: 25px;
   height : 100px;
   cursor: pointer;
}

.scores {
    display: flex;
    justify-content: space-between;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 30px;
}

.scores h3 {
    color: white;
    font-size: 50px;
}

.home button {
    height: 60px;
    margin: 0;
    width: 210px;
    border-radius: 0;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    background: #C69A42;
    color: white;
    text-shadow: 1px 1px black;
}

.away button {
    height: 60px;
    margin: 0;
    width: 210px;
    border-radius: 0;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    background: #C64842;
    color: white;
    text-shadow: 1px 1px black;
}

.home {
    border: 3px solid white;
    height: 119px;
    width: 210px;
    background: black;
}

.home h3 {
    border-bottom: 1px solid white;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.away {
    border: 3px solid white;
    height: 119px;
    width: 210px;
    background: black;
}

.away h3 {
    border-bottom: 1px solid white;
    margin: 0;
    cursor: pointer;
    outline: none;
}