.Batter-Up {
    border: 1px solid black;
    height: 470px;
    background: #3B5573;
    margin-top: 100px;
}

.display {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    font-family: 'Alfa Slab One', cursive;
    color: white;
    text-shadow: 1px 1px black;
}

.display h1 {
    cursor: pointer;
}

.dashBoard {
    width: 550px;
    height: 100px;
    margin: auto;
    padding-top: 50px;
}

.Batter-Up button {
    height: 50px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}

.status {
    width: 550px;
    margin: auto;
}

.hit-section {
    display: flex;
}
.out-section {
    display: flex;
}

.result  h1 {
   font-size: 100px;
   border: 1px solid white;
   font-family: 'Luckiest Guy', cursive;
   color: white;
   text-shadow: 1px 1px black;
   padding-top: 25px;
   height : 100px;
}